# Load Data

In [1]:
from sklearn.datasets import load_iris
iris = load_iris()

# Structure the data

In [6]:
import pandas as pd
x = pd.DataFrame(data = iris.data, columns = iris.feature_names)
print(x.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

#

# Tells you what the type is. In this case, it designates it as a species (species = 0).

In [7]:
y = pd.DataFrame(data = iris.target, columns = ['irisType'])
y.head()

   irisType
0         0
1         0
2         0
3         0
4         0

# This allows for named columns and includes both the x and y variables.

In [9]:
import pandas as pd
data = pd.DataFrame({
    'SepalLength':iris.data[:,0],
    'SepalWidth':iris.data[:,1],
    'PetalLength':iris.data[:,2],
    'PedalWidth':iris.data[:,3],
    'Species':iris.target
})
data.head()

   SepalLength  SepalWidth  PetalLength  PedalWidth  Species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

# Tells you how often the items appear.

In [10]:
y.irisType.value_counts()
data['Species'].value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64